/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary: #8080f7;
	--color-secondary: #F78080;
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Base styles */
body {
	@apply font-sans break-words text-xl leading-loose text-gray-800 bg-white transition-colors duration-300;
	/* font-family: "Atkinson", sans-serif; */
	font-family: "PingFang SC", "Noto Sans CJK SC", "Microsoft YaHei", sans-serif;
}

html.dark body {
	@apply bg-gray-950 text-gray-200;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	@apply my-0 mb-2 leading-tight;
}

h1 {
	@apply text-3xl;
}

h2 {
	@apply text-2xl;
}

h3 {
	@apply text-xl;
}

h4 {
	@apply text-lg;
}

h5 {
	@apply text-base;
}

/* Text formatting */
strong,
b {
	@apply font-bold;
}

a {
	@apply transition-colors duration-200;
}

a:hover {
	@apply opacity-80;
}

p {
	@apply mb-4;
}

.prose p {
	@apply mb-8;
}

/* Form elements */
textarea {
	@apply w-full text-base;
}

input {
	@apply text-base;
}

/* Table and media */
table {
	@apply w-full;
}

img {
	@apply max-w-full h-auto rounded-lg;
}

/* Code blocks */
code {
	@apply px-1 py-0.5 rounded;
}

pre {
	@apply p-6 rounded-lg bg-gray-100;
}

html.dark pre {
	@apply bg-gray-800;
}

pre>code {
	all: unset;
	font-family: "SF Mono", "Menlo", "Ubuntu Mono", "Consolas", "Lucida Console", monospace;
}

blockquote {
	@apply pl-5 my-0 text-lg;
}

hr {
	@apply border-none;
}

@media (max-width: 720px) {
	body {
		@apply text-lg;
	}
}

.sr-only {
	@apply border-0 p-0 m-0 absolute h-1 w-1 overflow-hidden whitespace-nowrap;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
}