---
import { SITE_TITLE } from "../consts";
import DarkModeButton from "./DarkModeButton.astro";
import HeaderLink from "./HeaderLink.astro";
import SearchBox from "./SearchBox.astro";
import Logo from "./Logo.astro";
import config from "../config";

interface Props {
  sticky?: boolean;
}

const { sticky = true } = Astro.props;
---

<header
  class={`bg-white dark:bg-gray-900 px-4 py-0 transition-colors ${sticky ? "sticky top-0 z-50" : ""}`}
>
  <nav class="flex items-center justify-between">
    <h2 class="no-style text-base m-0 logo">
      <a
        href="/"
        class="no-style underline decoration-primary hover:decoration-primary text-gray-900 dark:text-white transition-colors"
      >
        <Logo class="inline-block w-6 h-6 mr-2" />
      </a>
    </h2>
    <div class="internal-links">
      {
        config.navLinks.map((link) => (
          <HeaderLink href={link.href}>{link.name}</HeaderLink>
        ))
      }
    </div>
    <SearchBox />
    <div class="social-links hidden md:flex gap-4">
      <a
        href="/rss.xml"
        target="_blank"
        class="w-10 h-10 flex items-center justify-center text-gray-700 hover:bg-primary/10 transition-colors dark:text-gray-300 dark:hover:bg-primary/20"
      >
        <span class="sr-only">Subscribe to RSS</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12.75 19.5v-.75a7.5 7.5 0 0 0-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
          ></path>
        </svg>
      </a>
    </div>
    <DarkModeButton />
  </nav>
</header>
